.text-center {
  margin: 20px;
}

#wrapper {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 3px 0px 0px rbga(0, 0, 0, 0.1);
}

img {
  margin: 10px;
}

body {
  background: black;
}
